$breakpoints: (
  small: 48em,
  medium: 62em,
  large: 75em
);

$typi: (
  null: 16px, // XS
  small: 18px,
  medium: 20px,
  large: 22px
);

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;

  &.h1 {
    font-size: 1.7rem;
  }

  .h2 {
    font-size: 1.65rem;
  }

  .h3 {
    font-size: 1.55rem;
  }

  .h4 {
    font-size: 1.4rem;
  }

  .h5 {
    font-size: 1.3rem;
  }

  .h6 {
    font-size: 1.2rem;
  }
}



