.app-navigation {
  &__links {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: inline-block;

    &:not(:last-child) {
      margin-right: .5rem;

      &:after {
        margin-left: .5rem;
        content: "|"
      }
    }

    &--active {
      font-weight: 700;
      cursor: default;
      pointer-events: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__home-link {
    &:hover {
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
    fill: white;
  }

  &__title {
    display: inline;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: .3rem;
    vertical-align: middle;
  }

  &__subtitle {
    margin-left: 1rem;

    &:before {
      content: "—";
    }
  }
}
